.ws-main-menu-wrapper .ws-menu-cta-block {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  padding: 20px;
  white-space: normal; }
  @media (max-width: 1736px) {
    .ws-main-menu-wrapper .ws-menu-cta-block {
      display: none; } }
  .ws-main-menu-wrapper .ws-menu-cta-block .field-media-image {
    margin-bottom: 25px; }
  .ws-main-menu-wrapper .ws-menu-cta-block .field-description,
  .ws-main-menu-wrapper .ws-menu-cta-block .field-title {
    color: var(--ylb-color-black, black);
    font-family: var(--ylb-font-family-verdana);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px; }
  .ws-main-menu-wrapper .ws-menu-cta-block .field-description {
    font-weight: 400; }
  .ws-main-menu-wrapper .ws-menu-cta-block .btn {
    text-transform: unset;
    font-weight: 500; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImN0YV9ibG9jay5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLGdCQUFnQjtFQUNoQixXQUFXO0VBQ1gsYUFBYTtFQUNiLG1CQUFtQixFQUFFO0VBQ3JCO0lBQ0U7TUFDRSxhQUFhLEVBQUUsRUFBRTtFQUNyQjtJQUNFLG1CQUFtQixFQUFFO0VBQ3ZCOztJQUVFLG9DQUFvQztJQUNwQywyQ0FBMkM7SUFDM0MsZUFBZTtJQUNmLGdCQUFnQjtJQUNoQixpQkFBaUI7SUFDakIsbUJBQW1CLEVBQUU7RUFDdkI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLHFCQUFxQjtJQUNyQixnQkFBZ0IsRUFBRSIsImZpbGUiOiJjdGFfYmxvY2suY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLndzLW1haW4tbWVudS13cmFwcGVyIC53cy1tZW51LWN0YS1ibG9jayB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIG1heC13aWR0aDogMzIwcHg7XG4gIHdpZHRoOiAxMDAlO1xuICBwYWRkaW5nOiAyMHB4O1xuICB3aGl0ZS1zcGFjZTogbm9ybWFsOyB9XG4gIEBtZWRpYSAobWF4LXdpZHRoOiAxNzM2cHgpIHtcbiAgICAud3MtbWFpbi1tZW51LXdyYXBwZXIgLndzLW1lbnUtY3RhLWJsb2NrIHtcbiAgICAgIGRpc3BsYXk6IG5vbmU7IH0gfVxuICAud3MtbWFpbi1tZW51LXdyYXBwZXIgLndzLW1lbnUtY3RhLWJsb2NrIC5maWVsZC1tZWRpYS1pbWFnZSB7XG4gICAgbWFyZ2luLWJvdHRvbTogMjVweDsgfVxuICAud3MtbWFpbi1tZW51LXdyYXBwZXIgLndzLW1lbnUtY3RhLWJsb2NrIC5maWVsZC1kZXNjcmlwdGlvbixcbiAgLndzLW1haW4tbWVudS13cmFwcGVyIC53cy1tZW51LWN0YS1ibG9jayAuZmllbGQtdGl0bGUge1xuICAgIGNvbG9yOiB2YXIoLS15bGItY29sb3ItYmxhY2ssIGJsYWNrKTtcbiAgICBmb250LWZhbWlseTogdmFyKC0teWxiLWZvbnQtZmFtaWx5LXZlcmRhbmEpO1xuICAgIGZvbnQtc2l6ZTogMThweDtcbiAgICBmb250LXdlaWdodDogNzAwO1xuICAgIGxpbmUtaGVpZ2h0OiAyMnB4O1xuICAgIG1hcmdpbi1ib3R0b206IDIwcHg7IH1cbiAgLndzLW1haW4tbWVudS13cmFwcGVyIC53cy1tZW51LWN0YS1ibG9jayAuZmllbGQtZGVzY3JpcHRpb24ge1xuICAgIGZvbnQtd2VpZ2h0OiA0MDA7IH1cbiAgLndzLW1haW4tbWVudS13cmFwcGVyIC53cy1tZW51LWN0YS1ibG9jayAuYnRuIHtcbiAgICB0ZXh0LXRyYW5zZm9ybTogdW5zZXQ7XG4gICAgZm9udC13ZWlnaHQ6IDUwMDsgfVxuIl19 */