@import "_functions";
@import "_mixins";
@import "_variables";

.block-lb-node-tags {
  margin-bottom: 40px;

  @media (min-width: 1060px) {
    margin-bottom: 0;
  }
}

.wrapper-field-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  gap: 20px;


  @media (max-width: 1060px) {
    margin-top: 20px;
    gap: 15px;
    justify-content: center;
  }

  @include media-breakpoint-down('sm') {
    justify-content: start;
  }

  .field-item {
    font-family: var(--ylb-font-family-cachet);
    font-weight: 500;
    background-color: #ECECEC;
    border-radius: 5px;
    padding: 2px 6px;
    color: #2F2F2F;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;

    a {
    }
  }
}

.block-lb-node-share {
  text-align: left;

  @include media-breakpoint-up(md) {
    text-align: center;
  }

  @media (min-width: 1060px) {
    text-align: right;
  }

  strong {
    font-family: var(--ylb-font-family-cachet);
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
  }

  a {
    margin-left: 30px;
    font-size: 28px;
    color: #231F20;
  }
}

.block-lb-node-locations, .block-lb-event-contacts {
  padding-top: 35px;
  padding-bottom: 40px;
  border-top: 1px solid #636466;

  @include media-breakpoint-up(md) {
    padding-bottom: 80px;
  }

  .locations, .contacts {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;
    }

    .label {
      text-transform: uppercase;
      font-family: var(--ylb-font-family-cachet);
      font-weight: 500;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        width: 285px;
      }

      .bi {
        font-size: 18px;
        padding-right: 5px;

        &:before {
          color: var(--wsTertiaryColor, black);
        }
      }
    }
  }
}

.block-lb-node-locations {
  .lb-locations-list {
    a {
      color: var(--wsPartnerColor, #0060af);
      font-size: 18px;
      line-height: 28px;
    }

    .field-item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.block-lb-event-contacts {
  .contacts-info {
    font-size: 18px;
    line-height: 28px;

    > div {
      margin-bottom: 7px;
    }

    a {
      color: var(--wsPartnerColor, #0060af);
    }
  }
}
