@import "_functions";
@import "_mixins";
@import "_variables";

:root {
  --ylb-color-btn-grey: #636466;
}

.block-lb-breadcrumbs {
  nav {
    padding-left: 0;
  }
  .breadcrumbs-wrapper {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid var(--ylb-color-dark-grey);

    @include media-breakpoint-down('lg') {
      display: block !important;
    }

    .breadcrumbs {
      display: flex;
      flex-direction: row;

      li {
        background: none;
        border: none;

        &:first-child {
          a {
            background: url("../svg/home.svg") no-repeat left;
            color: transparent;
            padding: 0;
            margin-top: -2px;
            margin-right: -10px;
          }
        }

        span,
        a {
          display: flex;
          font-size: 14px;
          line-height: 24px;
          color: #636466;
          padding: 0 10px;
          min-height: auto;
          background: none;
        }

        a:before,
        span:before,
        a:after,
        span:after {
          border: none;
          position: absolute;
        }

        a:before,
        span:before {
          content: ' › ';
          left: -5px
        }
      }
    }
  }
}
