a {
  &.btn {
    border-radius: var(--wsBorderRadius, unset);
    padding: 7px 18px 9px;
    font-size: 24px;
    line-height: 30px;

    &.btn-primary {
      &.filled,
      .layout-container.ws-button-fill--filled--global &,
      .layout-container .block-layout-builder.ws-button-fill--filled--component & {
        background-color: var(--wsPartnerColor, black);
        color: var(--ylb-color-white, white);
        border: 2px solid transparent;

        &:hover {
          background-color: var(--ylb-color-white, white);
          color: var(--wsPartnerColor, black);
          border-color: var(--wsPartnerColor, black);
        }
      }

      &.outline,
      .layout-container.ws-button-fill--outlined--global &,
      .layout-container .block-layout-builder.ws-button-fill--outlined--component & {
        background-color: var(--ylb-color-white, white);
        color: var(--wsPartnerColor, black);
        border: 2px solid var(--wsPartnerColor, black);


        &:hover {
          background-color: var(--wsPartnerColor, black);
          color: var(--ylb-color-white, white);
          border-color: transparent;
        }
      }
    }

    &.btn-secondary {
      &.filled,
      .layout-container.ws-button-fill--filled--global &,
      .layout-container .block-layout-builder.ws-button-fill--filled--component & {
        background-color: var(--ylb-color-white, white);
        color: var(--wsPartnerColor, black);
        border: 2px solid transparent;

        &:hover {
          background-color: transparent;
          color: var(--ylb-color-white, white);
          border-color: var(--ylb-color-white, white);
        }
      }

      &.outline,
      .layout-container.ws-button-fill--outlined--global &,
      .layout-container .block-layout-builder.ws-button-fill--outlined--component & {
        background-color: transparent;
        color: var(--ylb-color-white, white);
        border: 2px solid var(--ylb-color-white, white);


        &:hover {
          background-color: var(--ylb-color-white, white);
          color: var(--wsPartnerColor, black);
          border-color: transparent;
        }
      }
    }
  }
}
