:root {
  --wsPrimaryColor: var(--wsPurplePrimaryColor);
  --wsSecondaryColor: var(--wsPurpleSecondaryColor);
  --wsTertiaryColor: var(--wsPurpleTertiaryColor);
  --wsPartnerColor: var(--wsPurplePartnerColor);
}
