:root {
  --wsPrimaryColor: var(--wsGreenPrimaryColor);
  --wsSecondaryColor: var(--wsGreenSecondaryColor);
  --wsTertiaryColor: var(--wsGreenTertiaryColor);
  --wsPartnerColor: var(--wsGreenPartnerColor);
}
