// Color's variables.
$wsRedPrimaryColor: #A92B31;
$wsRedPrimaryColorRGB: 169, 43, 49;
$wsRedSecondaryColor: #ED1C24;
$wsRedSecondaryColorRGB: 237, 28, 36;
$wsRedTertiaryColor: #FCAF17;
$wsRedTertiaryColorRGB: 252, 175, 23;
$wsRedPartnerColor: #A92B31;
$wsRedPartnerColorRGB: 169, 43, 49;

// Set variables globally.
:root {
  --wsPrimaryColor: #{$wsRedPrimaryColor};
  --wsPrimaryColorRGB: #{$wsRedPrimaryColorRGB};
  --wsSecondaryColor: #{$wsRedSecondaryColor};
  --wsSecondaryColorRGB: #{$wsRedSecondaryColorRGB};
  --wsTertiaryColor: #{$wsRedTertiaryColor};
  --wsTertiaryColorRGB: #{$wsRedTertiaryColorRGB};
  --wsPartnerColor: #{$wsRedPartnerColor};
  --wsPartnerColorRGB: #{$wsRedPartnerColorRGB};
}
