// Color's variables.
$wsRedPrimaryColor: #A92B31;
$wsRedSecondaryColor: #ED1C24;
$wsRedTertiaryColor: #FCAF17;
$wsRedPartnerColor: #A92B31;

// Set variables globally.
:root {
  --wsPrimaryColor: $wsRedPrimaryColor;
  --wsSecondaryColor: $wsRedSecondaryColor;
  --wsTertiaryColor: $wsRedTertiaryColor;
  --wsPartnerColor: $wsRedPartnerColor;
}
