// Color's variables.
$wsBluePrimaryColor: #0060AF;
$wsBluePrimaryColorRGB: 0, 96, 175;
$wsBlueSecondaryColor: #0089D0;
$wsBlueSecondaryColorRGB: 0, 137, 208;
$wsBlueTertiaryColor: #00AEEF;
$wsBlueTertiaryColorRGB: 0, 174, 239;
$wsBluePartnerColor: #5C2E91;
$wsBluePartnerColorRGB: 92, 46, 145;

// Set variables globally.
:root {
  --wsPrimaryColor: #{$wsBluePrimaryColor};
  --wsPrimaryColorRGB: #{$wsBluePrimaryColorRGB};
  --wsSecondaryColor: #{$wsBlueSecondaryColor};
  --wsSecondaryColorRGB: #{$wsBlueSecondaryColorRGB};
  --wsTertiaryColor: #{$wsBlueTertiaryColor};
  --wsTertiaryColorRGB: #{$wsBlueTertiaryColorRGB};
  --wsPartnerColor: #{$wsBluePartnerColor};
  --wsPartnerColorRGB: #{$wsBluePartnerColorRGB};
}

