/*Variables*/
:root {
  --ylb-color-black: #000000;
  --ylb-color-blue: #0089D0;
  --ylb-color-brown: #0089D0;
  --ylb-color-dark-blue: #0060AF;
  --ylb-color-dark-green: #006B6B;
  --ylb-color-dark-magenta: #92278F;
  --ylb-color-green: #20BDBE;
  --ylb-color-grey: #4F4F4F;
  --ylb-color-light-blue: #00AEEF;
  --ylb-color-light-green: #01A490;
  --ylb-color-orange: #F15922;
  --ylb-color-pink: #C6168D;
  --ylb-color-purple: #5C2E91;
  --ylb-color-red: #ED1C24;
  --ylb-color-sky-blue: #BFE1F3;
  --ylb-color-white: #FFFFFF;
  --ylb-color-yellow: #FCAF17;
  --ylb-color-dark-grey: #2F2F2F;
  --ylb-color-semi-light-grey: #636466;
  --ylb-color-light-grey: #D8D8D8;
  --ylb-color-y-grey: #3F4042;
  --ylb-color-y-grey2: #231F20;
}

/*Background colors*/
.ylb-bg-black {
  background-color: var(--ylb-color-black) !important;
}
.ylb-bg-blue {
  background-color: var(--ylb-color-blue) !important;
}
.ylb-bg-brown {
  background-color: var(--ylb-color-brown) !important;
}
.ylb-bg-dark-blue {
  background-color: var(--ylb-color-dark-blue) !important;
}
.ylb-bg-dark-green {
  background-color: var(--ylb-color-dark-green) !important;
}
.ylb-bg-dark-magenta {
  background-color: var(--ylb-color-dark-magenta) !important;
}
.ylb-bg-green {
  background-color: var(--ylb-color-green) !important;
}
.ylb-bg-grey {
  background-color: var(--ylb-color-grey) !important;
}
.ylb-bg-semi-light-grey {
  background-color: var(--ylb-color-semi-light-grey) !important;
}
.ylb-bg-light-blue {
  background-color: var(--ylb-color-light-blue) !important;
}
.ylb-bg-light-green {
  background-color: var(--ylb-color-light-green) !important;
}
.ylb-bg-orange {
  background-color: var(--ylb-color-orange) !important;
}
.ylb-bg-pink {
  background-color: var(--ylb-color-pink) !important;
}
.ylb-bg-purple {
  background-color: var(--ylb-color-purple) !important;
}
.ylb-bg-red {
  background-color: var(--ylb-color-red) !important;
}
.ylb-bg-sky-blue {
  background-color: var(--ylb-color-sky-blue) !important;
}
.ylb-bg-white {
  background-color: var(--ylb-color-white) !important;
}
.ylb-bg-yellow {
  background-color: var(--ylb-color-yellow) !important;
}

/*Text colors*/
.ylb-text-black {
  color: var(--ylb-color-black) !important;
}
.ylb-text-blue {
  color: var(--ylb-color-blue) !important;
}
.ylb-text-brown {
  color: var(--ylb-color-brown) !important;
}
.ylb-text-dark-blue {
  color: var(--ylb-color-dark-blue) !important;
}
.ylb-text-dark-green {
  color: var(--ylb-color-dark-green) !important;
}
.ylb-text-dark-magenta {
  color: var(--ylb-color-dark-magenta) !important;
}
.ylb-text-green {
  color: var(--ylb-color-green) !important;
}
.ylb-text-grey {
  color: var(--ylb-color-grey) !important;
}
.ylb-text-light-blue {
  color: var(--ylb-color-light-blue) !important;
}
.ylb-text-light-green {
  color: var(--ylb-color-light-green) !important;
}
.ylb-text-orange {
  color: var(--ylb-color-orange) !important;
}
.ylb-text-pink {
  color: var(--ylb-color-pink) !important;
}
.ylb-text-purple {
  color: var(--ylb-color-purple) !important;
}
.ylb-text-red {
  color: var(--ylb-color-red) !important;
}
.ylb-text-sky-blue {
  color: var(--ylb-color-sky-blue) !important;
}
.ylb-text-white {
  color: var(--ylb-color-white) !important;
}
.ylb-text-yellow {
  color: var(--ylb-color-yellow) !important;
}

/*Border colors*/
.ylb-border-y-grey {
  border-color: var(--ylb-color-y-grey) !important;
}

.ylb-border-color-right-y-grey {
  border-right-color: var(--ylb-color-y-grey) !important;
}

.ylb-border-color-left-y-grey {
  border-left-color: var(--ylb-color-y-grey) !important;
}

.ylb-border-color-top-y-grey {
  border-top-color: var(--ylb-color-y-grey) !important;
}

.ylb-border-color-bottom-y-grey {
  border-bottom-color: var(--ylb-color-y-grey) !important;
}
