@import "_functions";
@import "_mixins";
@import "_variables";
@import "ws-breakpoints";

.header {
  &.ws-header {
    display: block;
    color: var(--wsPrimaryColor, black);

    .block-ws-site-name {
      padding: 6px;

      a {
        color: var(--ylb-color-black, black);
        font-family: var(--ylb-font-family-cachet);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;

        &:active,
        &:focus,
        &:hover {
          color: var(--ylb-color-black, black);
          text-decoration: none;
        }
      }
    }
  }

  &--top {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    padding: 15px 20px;

    @include media-ws-breakpoint-down() {
      padding: 5px 10px;
      position: initial;
    }

    &-right-column {
      display: flex;
      flex-direction: row-reverse;

      .block-openy-gtranslate-block {
        @include media-ws-breakpoint-down() {
          display: flex;
          align-items: center;
        }

        .openy-google-translate {
          display: flex;
          align-self: center;

          .goog-te-combo {
            background-color: transparent;
            border: none;
            font-size: 14px;
          }
        }
      }
    }
  }

  &--bottom {
    height: 95px;
    padding: 0 20px;
    position: relative;

    & > .row {
      height: 100%;
    }

    @include media-ws-breakpoint-down() {
      max-height: 56px;
    }

    nav {
      height: 100%;
    }

    &-left-column {
      flex: 0 0 100%;
      height: 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      width: 100%;

      @include media-ws-breakpoint-up() {
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
      }

    }

    &-middle-column {
      display: flex;
      justify-content: center;
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      position: initial !important;

      @include media-ws-breakpoint-down() {
        display: block;
      }

      @include media-ws-breakpoint-up() {
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%;
        position: relative;
      }
    }

    &-right-column {
      display: flex;
      justify-content: right;
      flex: 0 0 100%;
      height: 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      width: 100%;

      @include media-ws-breakpoint-up() {
        flex: 0 0 25%;
        max-width: 25%;
      }

      nav {
        display: flex;
        @include media-ws-breakpoint-down() {
          display: none;
        }

        & > ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 15px;
          height: 100%;
          margin-bottom: 0;

          @include media-ws-breakpoint-down() {
            justify-content: center;
            flex-direction: column;
            padding: 0;
          }

          li {
            align-items: center;
            display: flex;
            list-style: none;
            width: auto;

            @include media-ws-breakpoint-down() {
              width: 100%;
            }

            a:not(.highlighted) {
              color: var(--ylb-color-dark-grey-1, darkgray);
              font-family: var(--ylb-font-family-cachet);
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;

              &.nav-link {
                box-sizing: unset;
                padding: 0;
              }

              &:active,
              &:focus,
              &:hover {
                color: var(--wsPrimaryColor, blue);
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    a.highlighted {
      background-color: var(--wsPartnerColor, black);
      border-radius: 10px;
      border: 2px solid var(--wsPartnerColor, #4F4F4F);
      color: var(--ylb-color-white, white);
      font-family: var(--ylb-font-family-cachet);
      font-size: 20px;
      letter-spacing: 0;
      line-height: 25px;
      padding: 10px 14px;
      text-align: center;
      width: 100%;

      &:active,
      &:focus,
      &:hover {
        text-decoration: none;
        color: var(--wsPartnerColor, #4F4F4F);
        background-color: var(--ylb-color-white);
      }
    }
  }

  .block-ws-site-logo {
    align-items: center;
    display: flex;
    padding-left: 10px;
    height: 100%;

    svg {
      @include media-ws-breakpoint-down() {
        max-height: 35px;
        position: relative;
        left: -45px;
      }

      #logo-areas-of-impact {
        @include media-ws-breakpoint-down() {
          display: none;
        }
      }
    }

    img {
      max-width: 200px;
    }
  }

  .block-ws-search-bar {
    align-self: center;

    .search {
      &-icon {
        z-index: 100;
        position: initial;

        @include media-ws-breakpoint-down() {
          top: 16px;
          right: 55px;
          position: absolute;
        }

        button {
          border: none;
          background: none;

          i {
            color: var(--ylb-color-dark-grey-1, darkgray);

            &:active,
            &:focus,
            &:hover {
              color: var(--wsPrimaryColor, blue);
            }
          }
        }
      }

      &-bar {
        background-color: var(--ylb-color-white, white);
        border-radius: 10px;
        bottom: -150px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        height: 90px;
        left: 50%;
        padding: 20px 80px 20px 20px;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 100;

        @include media-breakpoint-down(md) {
          border-radius: 0;
          height: 60px;
          padding: 12px 40px 12px 20px;
          top: 86px;
        }

        @include media-ws-breakpoint-down() {
          width: 100%;
          bottom: -135px;
          border-radius: 0;
        }

        form {
          margin: 0;
          display: flex;
          flex-direction: row;

          .search {
            &-input {
              border: 2px solid var(--ylb-color-light-grey-3, lightgray);
              border-radius: 10px;
              height: 50px;

              @include media-ws-breakpoint-down() {
                height: 40px;
              }

              &:active,
              &:focus {
                border-color: var(--wsPrimaryColor, blue);
              }
            }

            &-submit {
              background-color: var(--wsPrimaryColor, black);
              border-radius: 0 10px 10px 0;
              border: none;
              color: var(--ylb-color-white, white);
              display: flex;
              font-family: var(--ylb-font-family-cachet);
              font-size: 20px;
              font-weight: 400;
              left: -10px;
              line-height: 25px;
              padding: 12px 22px;
              position: relative;

              @include media-ws-breakpoint-down() {
                height: 40px;
              }

              span {
                @include media-ws-breakpoint-down() {
                  display: none;
                }
              }

              i {
                padding-left: 10px;
              }
            }
          }
        }

        &-close {
          background: transparent;
          border: none;
          padding: 0;
          position: absolute;
          right: 40px;
          top: 33%;

          @include media-ws-breakpoint-down() {
            right: 16px;
          }

          i {
            color: var(--ylb-color-dark-grey-2, darkgray);
            font-size: 20px;
            position: relative;
            top: 5px
          }
        }
      }
    }
  }

  .menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    display: block;

    @include media-ws-breakpoint-up() {
      display: none;
    }

    .header-navbar-toggler {
      background-color: transparent;
      background-image: url('../svg/burger_menu.svg');
      background-repeat: no-repeat;
      border: none;
      height: 18px;
      width: 22px;
    }
  }

  &.open {
    background-color: var(--ylb-color-white, white);
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;

    .header--top {
      &-right-column {
        @include media-ws-breakpoint-down() {
          position: initial !important;
        }
      }
    }

    .header--bottom {

      &-right-column {
        nav {
          display: flex;

          @include media-ws-breakpoint-down() {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
          }

          & > ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            height: 100%;
            justify-content: right;
            margin-bottom: 0;

            @include media-ws-breakpoint-down() {
              justify-content: center;
              flex: 0 0 100%;
              padding: 0;
            }

            li {
              align-items: center;
              display: flex;
              list-style: none;
              width: auto;

              @include media-ws-breakpoint-down() {
                width: 100%;
              }

              a:not(.highlighted) {
                display: none;
              }
            }
          }
        }
      }

      .menu-toggle {
        .header-navbar-toggler {
          background-image: url('../svg/close.svg');
        }
      }

      .block-ws-search-bar {
        display: none;
      }
    }

    .highlighted {
      @include media-ws-breakpoint-down() {
        color: var(--ylb-color-white);
        display: inline-block;
        font-size: 24px;
        line-height: 30px;
        padding: 12px 24px;
      }
    }
  }

  .layout-builder-block {
    background-color: transparent;
  }
}
