@import "_functions";
@import "_mixins";
@import "_variables";

.header {
  &.ws-header {
    display: block;
    color: var(--wsPrimaryColor, black);

    .block-ws-site-name {
      padding: 6px;

      a {
        color: var(--ylb-color-black);
        font-family: var(--ylb-font-family-cachet);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;

        &:active,
        &:focus,
        &:hover {
          color: var(--ylb-color-black);
          text-decoration: none;
        }
      }
    }
  }

  &--top {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    padding: 15px 20px;

    @include media-breakpoint-down(lg) {
      padding: 5px 10px;
      position: initial;
    }

    &-right-column {
      display: flex;
      flex-direction: row-reverse;

      .block-openy-gtranslate-block {
        @include media-breakpoint-down(lg) {
          visibility: hidden;
          height: 0;
        }

        .openy-google-translate {
          .goog-te-combo {
            background-color: transparent;
            border: none;
            font-size: 14px;
          }
        }
      }
    }
  }

  &--bottom {
    height: 95px;
    padding: 0 20px;
    position: relative;

    & > .row {
      height: 100%;
    }

    @include media-breakpoint-down(md) {
      max-height: 56px;
    }

    nav {
      height: 100%;
    }

    &-left-column {
      position: relative;
      height: 100%;
    }

    &-middle-column {
      display: flex;
      justify-content: center;

      @include media-breakpoint-down(lg) {
        position: initial !important;
      }

      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    &-right-column {

      nav {
        @include media-breakpoint-down(lg) {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
          width: 100%;
        }

        & > ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 15px;
          height: 100%;
          justify-content: right;
          margin-bottom: 0;

          @include media-breakpoint-down(lg) {
            padding: 0;
            justify-content: center;
          }

          li {
            align-items: center;
            display: flex;
            list-style: none;
            width: auto;

            @include media-breakpoint-down(lg) {
              max-width: 400px;
              width: 100%;
            }

            a {
              color: var(--ylb-color-dark-grey);
              font-family: (--ylb-font-family-cachet);
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;

              @include media-breakpoint-down(md) {
                display: none;
              }

              &.nav-link {
                box-sizing: unset;
                padding: 0;
              }

              &:active,
              &:focus,
              &:hover {
                color: var(--wsPrimaryColor, blue);
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    a.highlighted {
      background-color: var(--wsPrimaryColor, gray);
      border-radius: 10px;
      color: var(--ylb-color-white);
      font-family: (--ylb-font-family-cachet);
      font-size: 20px;
      letter-spacing: 0;
      line-height: 25px;
      padding: 10px 14px;
      text-align: center;
      width: 100%;

      &:active,
      &:focus,
      &:hover {
        color: var(--ylb-color-white);
        text-decoration: none;
      }
    }
  }

  .block-ws-site-logo {
    align-items: center;
    display: flex;
    padding-left: 10px;
    height: 100%;

    svg {
      @include media-breakpoint-down(lg) {
        max-height: 35px;
        position: relative;
        left: -45px;
      }

      #logo-areas-of-impact {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }

    img {
      max-width: 200px;
    }
  }

  .block-ws-search-bar {
    align-self: center;

    .search {
      &-icon {
        z-index: 100;

        @include media-breakpoint-up(md) {
          position: initial;

        }

        @include media-breakpoint-down(md) {
          top: 16px;
          right: 55px;
          position: absolute;
        }

        button {
          border: none;
          background: none;

          i {
            color: var(--ylb-color-dark-grey);

            &:active,
            &:focus,
            &:hover {
              color: var(--wsPrimaryColor, blue);
            }
          }
        }
      }

      &-bar {
        background-color: var(--ylb-color-white);
        border-radius: 10px;
        bottom: -150px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        height: 90px;
        left: 50%;
        padding: 20px 80px 20px 20px;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 103%;
        z-index: 100;

        @include media-breakpoint-between(md, lg) {
          bottom: -135px;
          border-radius: 0;
          width: 100%;
        }

        @include media-breakpoint-down(md) {
          border-radius: 0;
          height: 60px;
          padding: 12px 40px 12px 20px;
          top: 86px;
        }

        form {
          margin: 0;
          display: flex;
          flex-direction: row;

          .search {
            &-input {
              border: 2px solid var(--ylb-color-light-grey);
              border-radius: 10px;
              height: 50px;

              @include media-breakpoint-down(lg) {
                height: 40px;
              }

              &:active,
              &:focus {
                border-color: var(--wsPrimaryColor, blue);
              }
            }

            &-submit {
              background-color: var(--wsPrimaryColor, black);
              border-radius: 0 10px 10px 0;
              border: none;
              color: var(--ylb-color-white);
              display: flex;
              font-family: var(--ylb-font-family-cachet);
              font-size: 20px;
              font-weight: 400;
              left: -10px;
              line-height: 25px;
              padding: 12px 22px;
              position: relative;

              @include media-breakpoint-down(lg) {
                height: 40px;
              }

              span {
                @include media-breakpoint-down(lg) {
                  display: none;
                }
              }

              i {
                padding-left: 10px;
              }
            }
          }
        }

        &-close {
          background: transparent;
          border: none;
          padding: 0;
          position: absolute;
          right: 40px;
          top: 33%;

          @include media-breakpoint-down(lg) {
            right: 16px;
          }

          i {
            color: var(--ylb-color-y-grey2);
            font-size: 20px;
            position: relative;
            top: 5px
          }
        }
      }
    }
  }

  .menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    background-color: transparent;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    .header-navbar-toggler {
      background-color: transparent;
      background-image: url('../svg/burger_menu.svg');
      background-repeat: no-repeat;
      border: none;
      height: 18px;
      width: 22px;
    }
  }

  &.open {
    background-color: var(--ylb-color-white);
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    overflow: inherit;

    .header--top {
      &-right-column {
        @include media-breakpoint-down(lg) {
          position: initial !important;
        }

        .block-openy-gtranslate-block {
          @include media-breakpoint-down(lg) {
            bottom: 9%;
            height: auto;
            left: 30%;
            position: absolute;
            transform: translate(-50%, -50%);
            visibility: visible;
            z-index: 100;
          }
        }
      }
    }

    .header--bottom {
      .menu-toggle {
        .header-navbar-toggler {
          background-image: url('../svg/close.svg');
        }
      }

      .block-ws-search-bar {
        display: none;
      }
    }

    .highlighted {
      @include media-breakpoint-down(lg) {
        display: inline-block;
      }
    }
  }

  .layout-builder-block {
    background-color: transparent;
  }
}
