@import "ws-breakpoints";

.form-required {
  &:after {
    content: '*' !important;
    vertical-align: text-top !important;
    color: var(--ylb-color-red, red) !important;
    background: none !important;
  }
}

.js-off-canvas-dialog-open {
  .modal-backdrop {
    display: none;
  }
}


#drupal-off-canvas {
  details {
    > summary {
      color: #003cc5;
      background-color: #f0f5fd;

      &:hover {
        color: #eee;
        background-color: #222;
      }

      &:after {
        display: none;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath d='M5.21 1.314L3.79 2.723l5.302 5.353-5.303 5.354 1.422 1.408 6.697-6.762z' fill='%230036B1'/%3e%3c/svg%3e");
      }
    }

  }

  table {
    .draggable {
      .ief-tabledrag-handle, .field-multiple-drag {
        display: table-cell;

        a {
          .handle {
            width: 28px;
            height: 29px;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .bs_tab-pane--appearance,
  .bs_tab-pane--settings {
    details {
      > summary {
        color: #eee;
        background-color: inherit;

        &:hover {
          background-color: #222;
        }

        &:before {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath d='M5.21 1.314L3.79 2.723l5.302 5.353-5.303 5.354 1.422 1.408 6.697-6.762z' fill='%23ffffff'/%3e%3c/svg%3e");
        }
      }
    }
  }

  .inline-block-list {
    margin-top: 1rem !important;
    gap: 1rem;

    li {
      width: 46%;
      border-bottom: 0;

      a {
        max-height: 50px;
      }
    }
  }

  .js-form-type-radio {
    .blb_breakpoint_cols {
      & + label {
        display: flex;
      }
    }
  }

  .form-textarea {
    background-color: #fff;
    color: #222330;
  }

  .form-select {
    appearance: none !important;
  }

  .select-wrapper:before {
    display: none;
  }

  .blb_tab-content {
    .bs_tab-pane--content {
      details {
        margin: 0;
      }
    }
  }

  .bs_tab-pane--appearance,
  .bs_tab-pane--layout {
    fieldset {
      display: block;
    }
  }

  .bs_tab-pane--layout {
    .form-type-radio {
      display: block;
    }
  }

  .bs_tab-pane {
    .alert-modal {
      position: relative;
      border: 1px solid red;
    }
  }

  .button.dialog-cancel {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 24px;
    border-radius: 8px;
    margin-top: 1em;

    &:hover {
      text-decoration: none;
    }
  }

  details > summary:hover::before,
  details > summary:hover:focus::before,
  details[open] > summary::before,
  details[open] > summary:hover:focus::before,
  details[open] > summary:hover::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath d='M5.21 1.314L3.79 2.723l5.302 5.353-5.303 5.354 1.422 1.408 6.697-6.762z' fill='%23ffffff'/%3e%3c/svg%3e");
  }

  .form-text,
  .form-tel,
  .form-email,
  .form-url,
  .form-search,
  .form-number,
  .form-color,
  .form-file,
  .form-textarea,
  .form-date,
  .form-time {
    &:focus {
      background-color: #fff;
      color: #222330;
    }
  }

  tr {
    td,
    th {
      &:first-child {
        padding-left: 0;
      }
    }
  }

  th,
  td {
    &:first-child {
      width: auto;
    }
  }

  .media-library-item {
    .media-library-item__preview {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .paragraphs-actions {
    display: flex;

    .paragraphs-dropdown {
      .paragraphs-dropdown-toggle {
        display: none;
      }

      .paragraphs-dropdown-actions {
        display: flex;
        position: relative;
        top: 0;
        border: none;
        box-shadow: none;
        margin-left: 1em;

        input {
          margin-left: 1em;
        }
      }
    }
  }

  .entities-list.entity-type--media {
    .item-container.rendered-entity {
      display: flex;
      justify-content: space-between;
    }
  }

  .bs_nav-tabs {
    position: relative !important;
  }

  details[data-drupal-selector="edit-appearance-ws-style"] {
    .form-item {
      .form-radios {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        flex-wrap: wrap;

        label {
          img {
            border: 2px solid transparent;
            border-radius: 15px;
          }
        }
        &:has(input:checked) {
          label {
            opacity: 0.3;
          }

          .form-type-radio:has(input:checked) {
            label {
              opacity: 1;

              img {
                border-color: #41A5FF;
              }
            }
          }
        }

        input {
          display: none;
        }
      }
    }
  }
}

.field-media-image {
  img {
    width: 100%;
  }
}

.layout-builder__section {
  .container-wrapper[class|="ylb-bg" ] {
    .layout-builder-block {
      background-color: transparent;
    }
  }

  // Fix header layout for the pages with LB.
  .header--top-right-column,
  .header--top-left-column,
  .header--bottom-left-column,
  .header--bottom-middle-column,
  .header--bottom-right-column {
    display: block;
  }

  .header {
    display: block;

    &--top {
      height: auto;

      &-left-column {
        .block-ws-site-name {
          padding: 1.5em;
        }
      }
    }

    &--bottom {
      height: auto;

      nav {
        height: auto;
      }

      .menu-toggle {
        display: none;
      }

      &-left-column {
        width: 20%;
      }

      &-middle-column {
        width: 60%;

        .ws-main-menu-wrapper {
          ul.row-level-1 {
            max-height: none;

            @include media-ws-breakpoint-down() {
              display: flex;
            }

            li {
              a {
                padding: 5px 0;
              }
            }
          }
        }
      }

      &-right-column {
        width: 20%;
      }
    }
  }

  .layout-builder-block {
    background-color: transparent;
  }
}

#edit-ws-settings-container {
  div[id^="edit-ws-design-settings-"] {
    display: flex;
    flex-wrap: wrap;

    label {
      padding-left: 10px;
    }

    .form-item {
      padding: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(216, 217, 224, 0.8);
      border-radius: 15px;
      cursor: pointer;

      &:has(input:checked) {
        background-color: whitesmoke;
      }

      &:has(input[value="ws_border_radius_none"]) {
        border-radius: 0;
      }

      &:has(input[value="ws_border_radius_10"]) {
        border-radius: 10px;
      }

      &:has(input[value="ws_border_radius_20"]) {
        border-radius: 20px;
      }

      .input-wrapper {
        display: none;
      }

      label {
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }

    #edit-ws-design-settings-colorway label img {
      width: 114px;
    }
  }
}
