@import "_functions";
@import "_mixins";
@import "_variables";

.lb__content .body.field-item, .layout-builder__layout .body.field-item, .cke_editable_themed {
  color: var(--ylb-color-dark-grey);

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  // Headings
  // -----------------------------------------------------------------------------
  h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 20px;
    font-family: var(--ylb-font-family-medium);
  }

  h2 {
    font-size: 50px;
    line-height: 65px;
    @include media-breakpoint-down('md') {
      font-size: 35px;
      line-height: 40px;
    }
  }

  h3 {
    font-size: 30px;
    line-height: 32px;
    @include media-breakpoint-down('md') {
      font-size: 26px;
    }
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
    @include media-breakpoint-down('md') {
      font-size: 30px;
      line-height: 20px;
    }
  }

  h5 {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 32px;
    @include media-breakpoint-down('md') {
      font-size: 18px;
    }
  }

  // Text
  // -----------------------------------------------------------------------------
  p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;

    @include media-breakpoint-down('md') {
      font-size: 18px;
      line-height: 28px;
    }

  }

  // Links
  // -----------------------------------------------------------------------------
  a {
    color: #0060AF;
    font-size: 18px;
    font-family: Verdana, Arial, sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }

  // Lists
  // -----------------------------------------------------------------------------
  ol,
  ul,
  dl {
    font-size: 20px;
    line-height: 30px;
    color: var(--ylb-color-dark-grey);

    @include media-breakpoint-down('md') {
      font-size: 18px;
      line-height: 28px;
    }

    li {
      margin: 10px 0;
    }
  }

  // Blockquote
  // -----------------------------------------------------------------------------
  blockquote {
    color: var(--ylb-color-dark-grey);
    padding: 40px 0 35px 100px;
    border-top: 2px solid #636466;
    border-bottom: 2px solid #636466;
    position: relative;
    margin: 40px 0;


    @include media-breakpoint-down('md') {
      padding: 30px 0 30px 70px;
    }

    &:before {
      content: '';
      position: absolute;
      background: url("../svg/quotes.svg") center no-repeat;
      background-size: contain;
      height: 22px;
      width: 14px;
      top: 46px;
      left: 55px;

      @include media-breakpoint-down('md') {
        top: 35px;
        left: 33px;
      }
    }

    p {
      font-family: var(--ylb-font-family-book);
      font-size: 24px;
      margin-bottom: 20px;
      letter-spacing: 0;
      line-height: 32px;
    }

    p:last-child {
      font-family: Verdana, sans-serif;
      font-size: 16px;
      margin-bottom: 0;
      line-height: 26px;
      position: relative;

      &:before {
        content: '—';
      }
    }
  }

  // Table
  // -----------------------------------------------------------------------------
  table {
    width: 100%;
    margin: 40px 0;
    border: none;

    thead {
      tr {
        border: none;
        border-bottom: 5px solid #636466;

        th {
          font-family: var(--ylb-font-family-medium);
          border: none;
          font-size: 22px;
          line-height: 32px;
          padding: 15px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 2px solid #D8D8D8;

        td {
          border: none;
          font-size: 18px;
          line-height: 28px;
          padding: 20px 0.5em !important;
        }
      }
    }
  }

  // Other
  // -----------------------------------------------------------------------------

  .btn {
    &.btn-default {
      margin-top: 20px;
      color: var(--ylb-color-white);
      background-color: #636466;
      font-size: 22px;
      line-height: 27px;
      font-family: var(--ylb-font-family-medium);
      padding: 15px 30px;
      border-radius: 10px;
    }
  }

  s,
  del {
    text-decoration: line-through;
  }

  u,
  ins {
    text-decoration: underline;
  }

  mark {
    color: #FFFFFF;
    background-color: var(--ylb-color-dark-grey);
    padding: 3px 5px;
    border-radius: 4px;
  }

  b,
  strong {
    color: var(--ylb-color-dark-grey);
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  small {
    font-size: 10px;
  }
}
