.block-lb-node-tags {
  margin-bottom: 40px; }
  @media (min-width: 1060px) {
    .block-lb-node-tags {
      margin-bottom: 0; } }

.wrapper-field-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  gap: 20px; }
  @media (max-width: 1060px) {
    .wrapper-field-tags {
      margin-top: 20px;
      gap: 15px;
      justify-content: center; } }
  @media (max-width: 767.98px) {
    .wrapper-field-tags {
      justify-content: start; } }
  .wrapper-field-tags .field-item {
    font-family: var(--ylb-font-family-cachet);
    font-weight: 500;
    background-color: #ECECEC;
    border-radius: 5px;
    padding: 2px 6px;
    color: #2F2F2F;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px; }

.block-lb-node-share {
  text-align: left; }
  @media (min-width: 768px) {
    .block-lb-node-share {
      text-align: center; } }
  @media (min-width: 1060px) {
    .block-lb-node-share {
      text-align: right; } }
  .block-lb-node-share strong {
    font-family: var(--ylb-font-family-cachet);
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase; }
  .block-lb-node-share a {
    margin-left: 30px;
    font-size: 28px;
    color: #231F20; }

.block-lb-node-locations, .block-lb-event-contacts {
  padding-top: 35px;
  padding-bottom: 40px;
  border-top: 1px solid #636466; }
  @media (min-width: 768px) {
    .block-lb-node-locations, .block-lb-event-contacts {
      padding-bottom: 80px; } }
  @media (min-width: 768px) {
    .block-lb-node-locations .locations, .block-lb-node-locations .contacts, .block-lb-event-contacts .locations, .block-lb-event-contacts .contacts {
      display: flex;
      flex-direction: row; } }
  .block-lb-node-locations .locations .label, .block-lb-node-locations .contacts .label, .block-lb-event-contacts .locations .label, .block-lb-event-contacts .contacts .label {
    text-transform: uppercase;
    font-family: var(--ylb-font-family-cachet);
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .block-lb-node-locations .locations .label, .block-lb-node-locations .contacts .label, .block-lb-event-contacts .locations .label, .block-lb-event-contacts .contacts .label {
        width: 285px; } }
    .block-lb-node-locations .locations .label .bi, .block-lb-node-locations .contacts .label .bi, .block-lb-event-contacts .locations .label .bi, .block-lb-event-contacts .contacts .label .bi {
      font-size: 18px;
      padding-right: 5px; }
      .block-lb-node-locations .locations .label .bi:before, .block-lb-node-locations .contacts .label .bi:before, .block-lb-event-contacts .locations .label .bi:before, .block-lb-event-contacts .contacts .label .bi:before {
        color: var(--wsTertiaryColor); }

.block-lb-node-locations .lb-locations-list a {
  color: var(--wsPartnerColor, #0060af);
  font-size: 18px;
  line-height: 28px; }

.block-lb-node-locations .lb-locations-list .field-item:not(:last-child) {
  margin-bottom: 10px; }

.block-lb-event-contacts .contacts-info {
  font-size: 18px;
  line-height: 28px; }
  .block-lb-event-contacts .contacts-info > div {
    margin-bottom: 7px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJsb2Nrcy5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxtQkFBbUIsRUFBRTtFQUNyQjtJQUNFO01BQ0UsZ0JBQWdCLEVBQUUsRUFBRTs7QUFFMUI7RUFDRSxnQkFBZ0I7RUFDaEIsYUFBYTtFQUNiLGVBQWU7RUFDZixtQkFBbUI7RUFDbkIsZUFBZTtFQUNmLFNBQVMsRUFBRTtFQUNYO0lBQ0U7TUFDRSxnQkFBZ0I7TUFDaEIsU0FBUztNQUNULHVCQUF1QixFQUFFLEVBQUU7RUFDL0I7SUFDRTtNQUNFLHNCQUFzQixFQUFFLEVBQUU7RUFDOUI7SUFDRSwwQ0FBMEM7SUFDMUMsZ0JBQWdCO0lBQ2hCLHlCQUF5QjtJQUN6QixrQkFBa0I7SUFDbEIsZ0JBQWdCO0lBQ2hCLGNBQWM7SUFDZCx5QkFBeUI7SUFDekIsZUFBZTtJQUNmLGlCQUFpQixFQUFFOztBQUV2QjtFQUNFLGdCQUFnQixFQUFFO0VBQ2xCO0lBQ0U7TUFDRSxrQkFBa0IsRUFBRSxFQUFFO0VBQzFCO0lBQ0U7TUFDRSxpQkFBaUIsRUFBRSxFQUFFO0VBQ3pCO0lBQ0UsMENBQTBDO0lBQzFDLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLHlCQUF5QixFQUFFO0VBQzdCO0lBQ0UsaUJBQWlCO0lBQ2pCLGVBQWU7SUFDZixjQUFjLEVBQUU7O0FBRXBCO0VBQ0UsaUJBQWlCO0VBQ2pCLG9CQUFvQjtFQUNwQiw2QkFBNkIsRUFBRTtFQUMvQjtJQUNFO01BQ0Usb0JBQW9CLEVBQUUsRUFBRTtFQUM1QjtJQUNFO01BQ0UsYUFBYTtNQUNiLG1CQUFtQixFQUFFLEVBQUU7RUFDM0I7SUFDRSx5QkFBeUI7SUFDekIsMENBQTBDO0lBQzFDLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLG1CQUFtQixFQUFFO0lBQ3JCO01BQ0U7UUFDRSxZQUFZLEVBQUUsRUFBRTtJQUNwQjtNQUNFLGVBQWU7TUFDZixrQkFBa0IsRUFBRTtNQUNwQjtRQUNFLDZCQUE2QixFQUFFOztBQUV2QztFQUNFLHFDQUFxQztFQUNyQyxlQUFlO0VBQ2YsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsZUFBZTtFQUNmLGlCQUFpQixFQUFFO0VBQ25CO0lBQ0Usa0JBQWtCLEVBQUUiLCJmaWxlIjoiYmxvY2tzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5ibG9jay1sYi1ub2RlLXRhZ3Mge1xuICBtYXJnaW4tYm90dG9tOiA0MHB4OyB9XG4gIEBtZWRpYSAobWluLXdpZHRoOiAxMDYwcHgpIHtcbiAgICAuYmxvY2stbGItbm9kZS10YWdzIHtcbiAgICAgIG1hcmdpbi1ib3R0b206IDA7IH0gfVxuXG4ud3JhcHBlci1maWVsZC10YWdzIHtcbiAgbWFyZ2luLXRvcDogMTBweDtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC13cmFwOiB3cmFwO1xuICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIGdhcDogMjBweDsgfVxuICBAbWVkaWEgKG1heC13aWR0aDogMTA2MHB4KSB7XG4gICAgLndyYXBwZXItZmllbGQtdGFncyB7XG4gICAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgICAgZ2FwOiAxNXB4O1xuICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7IH0gfVxuICBAbWVkaWEgKG1heC13aWR0aDogNzY3Ljk4cHgpIHtcbiAgICAud3JhcHBlci1maWVsZC10YWdzIHtcbiAgICAgIGp1c3RpZnktY29udGVudDogc3RhcnQ7IH0gfVxuICAud3JhcHBlci1maWVsZC10YWdzIC5maWVsZC1pdGVtIHtcbiAgICBmb250LWZhbWlseTogdmFyKC0teWxiLWZvbnQtZmFtaWx5LWNhY2hldCk7XG4gICAgZm9udC13ZWlnaHQ6IDUwMDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjRUNFQ0VDO1xuICAgIGJvcmRlci1yYWRpdXM6IDVweDtcbiAgICBwYWRkaW5nOiAycHggNnB4O1xuICAgIGNvbG9yOiAjMkYyRjJGO1xuICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgZm9udC1zaXplOiAxNnB4O1xuICAgIGxpbmUtaGVpZ2h0OiAyMHB4OyB9XG5cbi5ibG9jay1sYi1ub2RlLXNoYXJlIHtcbiAgdGV4dC1hbGlnbjogbGVmdDsgfVxuICBAbWVkaWEgKG1pbi13aWR0aDogNzY4cHgpIHtcbiAgICAuYmxvY2stbGItbm9kZS1zaGFyZSB7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7IH0gfVxuICBAbWVkaWEgKG1pbi13aWR0aDogMTA2MHB4KSB7XG4gICAgLmJsb2NrLWxiLW5vZGUtc2hhcmUge1xuICAgICAgdGV4dC1hbGlnbjogcmlnaHQ7IH0gfVxuICAuYmxvY2stbGItbm9kZS1zaGFyZSBzdHJvbmcge1xuICAgIGZvbnQtZmFtaWx5OiB2YXIoLS15bGItZm9udC1mYW1pbHktY2FjaGV0KTtcbiAgICBmb250LXdlaWdodDogNTAwO1xuICAgIGZvbnQtc2l6ZTogMjJweDtcbiAgICBsaW5lLWhlaWdodDogMzJweDtcbiAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlOyB9XG4gIC5ibG9jay1sYi1ub2RlLXNoYXJlIGEge1xuICAgIG1hcmdpbi1sZWZ0OiAzMHB4O1xuICAgIGZvbnQtc2l6ZTogMjhweDtcbiAgICBjb2xvcjogIzIzMUYyMDsgfVxuXG4uYmxvY2stbGItbm9kZS1sb2NhdGlvbnMsIC5ibG9jay1sYi1ldmVudC1jb250YWN0cyB7XG4gIHBhZGRpbmctdG9wOiAzNXB4O1xuICBwYWRkaW5nLWJvdHRvbTogNDBweDtcbiAgYm9yZGVyLXRvcDogMXB4IHNvbGlkICM2MzY0NjY7IH1cbiAgQG1lZGlhIChtaW4td2lkdGg6IDc2OHB4KSB7XG4gICAgLmJsb2NrLWxiLW5vZGUtbG9jYXRpb25zLCAuYmxvY2stbGItZXZlbnQtY29udGFjdHMge1xuICAgICAgcGFkZGluZy1ib3R0b206IDgwcHg7IH0gfVxuICBAbWVkaWEgKG1pbi13aWR0aDogNzY4cHgpIHtcbiAgICAuYmxvY2stbGItbm9kZS1sb2NhdGlvbnMgLmxvY2F0aW9ucywgLmJsb2NrLWxiLW5vZGUtbG9jYXRpb25zIC5jb250YWN0cywgLmJsb2NrLWxiLWV2ZW50LWNvbnRhY3RzIC5sb2NhdGlvbnMsIC5ibG9jay1sYi1ldmVudC1jb250YWN0cyAuY29udGFjdHMge1xuICAgICAgZGlzcGxheTogZmxleDtcbiAgICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7IH0gfVxuICAuYmxvY2stbGItbm9kZS1sb2NhdGlvbnMgLmxvY2F0aW9ucyAubGFiZWwsIC5ibG9jay1sYi1ub2RlLWxvY2F0aW9ucyAuY29udGFjdHMgLmxhYmVsLCAuYmxvY2stbGItZXZlbnQtY29udGFjdHMgLmxvY2F0aW9ucyAubGFiZWwsIC5ibG9jay1sYi1ldmVudC1jb250YWN0cyAuY29udGFjdHMgLmxhYmVsIHtcbiAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICAgIGZvbnQtZmFtaWx5OiB2YXIoLS15bGItZm9udC1mYW1pbHktY2FjaGV0KTtcbiAgICBmb250LXdlaWdodDogNTAwO1xuICAgIGZvbnQtc2l6ZTogMjJweDtcbiAgICBsaW5lLWhlaWdodDogMzJweDtcbiAgICBtYXJnaW4tYm90dG9tOiAyMHB4OyB9XG4gICAgQG1lZGlhIChtaW4td2lkdGg6IDc2OHB4KSB7XG4gICAgICAuYmxvY2stbGItbm9kZS1sb2NhdGlvbnMgLmxvY2F0aW9ucyAubGFiZWwsIC5ibG9jay1sYi1ub2RlLWxvY2F0aW9ucyAuY29udGFjdHMgLmxhYmVsLCAuYmxvY2stbGItZXZlbnQtY29udGFjdHMgLmxvY2F0aW9ucyAubGFiZWwsIC5ibG9jay1sYi1ldmVudC1jb250YWN0cyAuY29udGFjdHMgLmxhYmVsIHtcbiAgICAgICAgd2lkdGg6IDI4NXB4OyB9IH1cbiAgICAuYmxvY2stbGItbm9kZS1sb2NhdGlvbnMgLmxvY2F0aW9ucyAubGFiZWwgLmJpLCAuYmxvY2stbGItbm9kZS1sb2NhdGlvbnMgLmNvbnRhY3RzIC5sYWJlbCAuYmksIC5ibG9jay1sYi1ldmVudC1jb250YWN0cyAubG9jYXRpb25zIC5sYWJlbCAuYmksIC5ibG9jay1sYi1ldmVudC1jb250YWN0cyAuY29udGFjdHMgLmxhYmVsIC5iaSB7XG4gICAgICBmb250LXNpemU6IDE4cHg7XG4gICAgICBwYWRkaW5nLXJpZ2h0OiA1cHg7IH1cbiAgICAgIC5ibG9jay1sYi1ub2RlLWxvY2F0aW9ucyAubG9jYXRpb25zIC5sYWJlbCAuYmk6YmVmb3JlLCAuYmxvY2stbGItbm9kZS1sb2NhdGlvbnMgLmNvbnRhY3RzIC5sYWJlbCAuYmk6YmVmb3JlLCAuYmxvY2stbGItZXZlbnQtY29udGFjdHMgLmxvY2F0aW9ucyAubGFiZWwgLmJpOmJlZm9yZSwgLmJsb2NrLWxiLWV2ZW50LWNvbnRhY3RzIC5jb250YWN0cyAubGFiZWwgLmJpOmJlZm9yZSB7XG4gICAgICAgIGNvbG9yOiB2YXIoLS13c1RlcnRpYXJ5Q29sb3IpOyB9XG5cbi5ibG9jay1sYi1ub2RlLWxvY2F0aW9ucyAubGItbG9jYXRpb25zLWxpc3QgYSB7XG4gIGNvbG9yOiB2YXIoLS13c1BhcnRuZXJDb2xvciwgIzAwNjBhZik7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgbGluZS1oZWlnaHQ6IDI4cHg7IH1cblxuLmJsb2NrLWxiLW5vZGUtbG9jYXRpb25zIC5sYi1sb2NhdGlvbnMtbGlzdCAuZmllbGQtaXRlbTpub3QoOmxhc3QtY2hpbGQpIHtcbiAgbWFyZ2luLWJvdHRvbTogMTBweDsgfVxuXG4uYmxvY2stbGItZXZlbnQtY29udGFjdHMgLmNvbnRhY3RzLWluZm8ge1xuICBmb250LXNpemU6IDE4cHg7XG4gIGxpbmUtaGVpZ2h0OiAyOHB4OyB9XG4gIC5ibG9jay1sYi1ldmVudC1jb250YWN0cyAuY29udGFjdHMtaW5mbyA+IGRpdiB7XG4gICAgbWFyZ2luLWJvdHRvbTogN3B4OyB9XG4iXX0= */