a.btn {
  border-radius: var(--wsBorderRadius, unset);
  padding: 7px 18px 9px;
  font-size: 24px;
  line-height: 30px;
}
a.btn.btn-primary.filled, .layout-container.ws-button-fill--filled--global a.btn.btn-primary, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-primary {
  background-color: var(--wsPartnerColor, black);
  color: var(--ylb-color-white, white);
  border: 2px solid transparent;
}
a.btn.btn-primary.filled:hover, .layout-container.ws-button-fill--filled--global a.btn.btn-primary:hover, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-primary:hover {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border-color: var(--wsPartnerColor, black);
}
a.btn.btn-primary.outline, .layout-container.ws-button-fill--outlined--global a.btn.btn-primary, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-primary {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border: 2px solid var(--wsPartnerColor, black);
}
a.btn.btn-primary.outline:hover, .layout-container.ws-button-fill--outlined--global a.btn.btn-primary:hover, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-primary:hover {
  background-color: var(--wsPartnerColor, black);
  color: var(--ylb-color-white, white);
  border-color: transparent;
}
a.btn.btn-secondary.filled, .layout-container.ws-button-fill--filled--global a.btn.btn-secondary.filled, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-secondary.filled {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border: 2px solid transparent;
}
a.btn.btn-secondary.filled:hover, .layout-container.ws-button-fill--filled--global a.btn.btn-secondary.filled:hover, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-secondary.filled:hover {
  background-color: transparent;
  color: var(--ylb-color-white, white);
  border-color: var(--ylb-color-white, white);
}
.layout-container.ws-button-fill--filled--global .ws-button-position--overlapping a.btn.btn-secondary.filled:hover {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border-color: var(--wsPrimaryColor, #fff);
}
a.btn.btn-secondary.outline, .layout-container.ws-button-fill--outlined--global a.btn.btn-secondary, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-secondary {
  background-color: transparent;
  color: var(--ylb-color-white, white);
  border: 2px solid var(--ylb-color-white, white);
}
a.btn.btn-secondary.outline:hover, .layout-container.ws-button-fill--outlined--global a.btn.btn-secondary:hover, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-secondary:hover {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border-color: transparent;
}
a.btn.btn-primary.revert.filled, .layout-container.ws-button-fill--filled--global a.btn.btn-primary.revert, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-primary.revert {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border: 2px solid var(--wsPartnerColor, black);
}
a.btn.btn-primary.revert.filled:hover, .layout-container.ws-button-fill--filled--global a.btn.btn-primary.revert:hover, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-primary.revert:hover {
  background-color: var(--wsPartnerColor, black);
  color: var(--ylb-color-white, white);
  border-color: transparent;
}
a.btn.btn-primary.revert.outline, .layout-container.ws-button-fill--outlined--global a.btn.btn-primary.revert, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-primary.revert {
  background-color: var(--wsPartnerColor, black);
  color: var(--ylb-color-white, white);
  border: 2px solid transparent;
}
a.btn.btn-primary.revert.outline:hover, .layout-container.ws-button-fill--outlined--global a.btn.btn-primary.revert:hover, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-primary.revert:hover {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border-color: var(--wsPartnerColor, black);
}
a.btn.btn-secondary.revert.filled, .layout-container.ws-button-fill--filled--global a.btn.btn-secondary.revert, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-secondary.revert {
  background-color: transparent;
  color: var(--ylb-color-white, white);
  border: 2px solid var(--ylb-color-white, white);
}
a.btn.btn-secondary.revert.filled:hover, .layout-container.ws-button-fill--filled--global a.btn.btn-secondary.revert:hover, .layout-container .block-layout-builder.ws-button-fill--filled--component a.btn.btn-secondary.revert:hover {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border-color: transparent;
}
a.btn.btn-secondary.revert.outline, .layout-container.ws-button-fill--outlined--global a.btn.btn-secondary.revert, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-secondary.revert {
  background-color: var(--ylb-color-white, white);
  color: var(--wsPartnerColor, black);
  border: 2px solid transparent;
}
a.btn.btn-secondary.revert.outline:hover, .layout-container.ws-button-fill--outlined--global a.btn.btn-secondary.revert:hover, .layout-container .block-layout-builder.ws-button-fill--outlined--component a.btn.btn-secondary.revert:hover {
  background-color: transparent;
  color: var(--ylb-color-white, white);
  border-color: var(--ylb-color-white, white);
}
a.btn.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 20px;
  line-height: 1.5;
}
a.btn.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 30px;
  line-height: 1.5;
}
a.btn.btn-outline-primary {
  color: var(--wsPartnerColor, black);
  border-color: var(--wsPartnerColor, black);
}
a.btn.btn-outline-primary:hover {
  color: var(--ylb-color-white, white);
  background-color: var(--wsPartnerColor, black);
}
a.btn.btn-link {
  color: var(--wsPartnerColor, black);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvYnV0dG9uLnNjc3MiLCJidXR0b24uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNFO0VBQ0UsMkNBQUE7RUFDQSxxQkFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtBQ0FKO0FER007RUFHRSw4Q0FBQTtFQUNBLG9DQUFBO0VBQ0EsNkJBQUE7QUNIUjtBREtRO0VBQ0UsK0NBQUE7RUFDQSxtQ0FBQTtFQUNBLDBDQUFBO0FDSFY7QURPTTtFQUdFLCtDQUFBO0VBQ0EsbUNBQUE7RUFDQSw4Q0FBQTtBQ1BSO0FEVVE7RUFDRSw4Q0FBQTtFQUNBLG9DQUFBO0VBQ0EseUJBQUE7QUNSVjtBRGVRO0VBR0UsK0NBQUE7RUFDQSxtQ0FBQTtFQUNBLDZCQUFBO0FDZlY7QURpQlU7RUFDRSw2QkFBQTtFQUNBLG9DQUFBO0VBQ0EsMkNBQUE7QUNmWjtBRG9CVTtFQUNFLCtDQUFBO0VBQ0EsbUNBQUE7RUFDQSx5Q0FBQTtBQ2xCWjtBRHVCTTtFQUdFLDZCQUFBO0VBQ0Esb0NBQUE7RUFDQSwrQ0FBQTtBQ3ZCUjtBRDBCUTtFQUNFLCtDQUFBO0VBQ0EsbUNBQUE7RUFDQSx5QkFBQTtBQ3hCVjtBRCtCTTtFQUdFLCtDQUFBO0VBQ0EsbUNBQUE7RUFDQSw4Q0FBQTtBQy9CUjtBRGtDUTtFQUNFLDhDQUFBO0VBQ0Esb0NBQUE7RUFDQSx5QkFBQTtBQ2hDVjtBRG9DTTtFQUdFLDhDQUFBO0VBQ0Esb0NBQUE7RUFDQSw2QkFBQTtBQ3BDUjtBRHNDUTtFQUNFLCtDQUFBO0VBQ0EsbUNBQUE7RUFDQSwwQ0FBQTtBQ3BDVjtBRDBDTTtFQUlFLDZCQUFBO0VBQ0Esb0NBQUE7RUFDQSwrQ0FBQTtBQzNDUjtBRDhDUTtFQUNFLCtDQUFBO0VBQ0EsbUNBQUE7RUFDQSx5QkFBQTtBQzVDVjtBRGdETTtFQUdFLCtDQUFBO0VBQ0EsbUNBQUE7RUFDQSw2QkFBQTtBQ2hEUjtBRGtEUTtFQUNFLDZCQUFBO0VBQ0Esb0NBQUE7RUFDQSwyQ0FBQTtBQ2hEVjtBRHFESTtFQUNFLHVCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0FDbkROO0FEc0RJO0VBQ0Usb0JBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7QUNwRE47QUR3RE07RUFDRSxtQ0FBQTtFQUNBLDBDQUFBO0FDdERSO0FEd0RRO0VBQ0Usb0NBQUE7RUFDQSw4Q0FBQTtBQ3REVjtBRDJESTtFQUNFLG1DQUFBO0FDekROIiwiZmlsZSI6ImJ1dHRvbi5jc3MifQ== */