:root {
  --wsPrimaryColor: var(--ylb-color-red-dark);
  --wsPrimaryColorRGB: var(--ylb-color-rgb-red-dark);
  --wsSecondaryColor: var(--ylb-color-red);
  --wsSecondaryColorRGB: var(--ylb-color-rgb-red);
  --wsTertiaryColor: var(--ylb-color-orange-light);
  --wsTertiaryColorRGB: var(--ylb-color-rgb-orange-light);
  --wsPartnerColor: var(--ylb-color-red-dark);
  --wsPartnerColorRGB: var(--ylb-color-rgb-red-dark);
  --wsLogoChevronDark: var(--ylb-color-red-dark);
  --wsLogoChevronMid: var(--ylb-color-red);
  --wsLogoChevronLight: var(--ylb-color-red-light);
  --wsLogoTriangleDark: var(--ylb-color-orange);
  --wsLogoTriangleLight: var(--ylb-color-orange-light);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvY29sb3J3YXktcmVkLnNjc3MiLCJjb2xvcndheS1yZWQuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNBO0VBQ0UsMkNBQUE7RUFDQSxrREFBQTtFQUNBLHdDQUFBO0VBQ0EsK0NBQUE7RUFDQSxnREFBQTtFQUNBLHVEQUFBO0VBQ0EsMkNBQUE7RUFDQSxrREFBQTtFQUNBLDhDQUFBO0VBQ0Esd0NBQUE7RUFDQSxnREFBQTtFQUNBLDZDQUFBO0VBQ0Esb0RBQUE7QUNBRiIsImZpbGUiOiJjb2xvcndheS1yZWQuY3NzIn0= */