:root {
  --wsPrimaryColor: var(--ylb-color-green-dark);
  --wsPrimaryColorRGB: var(--ylb-color-rgb-green-dark);
  --wsSecondaryColor: var(--ylb-color-green);
  --wsSecondaryColorRGB: var(--ylb-color-rgb-green);
  --wsTertiaryColor: var(--ylb-color-green-light);
  --wsTertiaryColorRGB: var(--ylb-color-rgb-green-light);
  --wsPartnerColor: var(--ylb-color-blue-dark);
  --wsPartnerColorRGB: var(--ylb-color-rgb-blue-dark);
  --wsLogoChevronDark: var(--ylb-color-green-dark);
  --wsLogoChevronMid: var(--ylb-color-green);
  --wsLogoChevronLight: var(--ylb-color-green-light);
  --wsLogoTriangleDark: var(--ylb-color-blue-dark);
  --wsLogoTriangleLight: var(--ylb-color-blue-light);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvY29sb3J3YXktZ3JlZW4uc2NzcyIsImNvbG9yd2F5LWdyZWVuLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQTtFQUNFLDZDQUFBO0VBQ0Esb0RBQUE7RUFDQSwwQ0FBQTtFQUNBLGlEQUFBO0VBQ0EsK0NBQUE7RUFDQSxzREFBQTtFQUNBLDRDQUFBO0VBQ0EsbURBQUE7RUFDQSxnREFBQTtFQUNBLDBDQUFBO0VBQ0Esa0RBQUE7RUFDQSxnREFBQTtFQUNBLGtEQUFBO0FDQUYiLCJmaWxlIjoiY29sb3J3YXktZ3JlZW4uY3NzIn0= */