:root {
  --wsPrimaryColor: var(--ylb-color-purple-dark);
  --wsPrimaryColorRGB: var(--ylb-color-rgb-purple-dark);
  --wsSecondaryColor: var(--ylb-color-purple);
  --wsSecondaryColorRGB: var(--ylb-color-rgb-purple);
  --wsTertiaryColor: var(--ylb-color-purple-light);
  --wsTertiaryColorRGB: var(--ylb-color-rgb-purple-light);
  --wsPartnerColor: var(--ylb-color-red-dark);
  --wsPartnerColorRGB: var(--ylb-color-rgb-red-dark);
  --wsLogoChevronDark: var(--ylb-color-purple-dark);
  --wsLogoChevronMid: var(--ylb-color-purple);
  --wsLogoChevronLight: var(--ylb-color-purple-light);
  --wsLogoTriangleDark: var(--ylb-color-red-dark);
  --wsLogoTriangleLight: var(--ylb-color-red);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvY29sb3J3YXktcHVycGxlLnNjc3MiLCJjb2xvcndheS1wdXJwbGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNBO0VBQ0UsOENBQUE7RUFDQSxxREFBQTtFQUNBLDJDQUFBO0VBQ0Esa0RBQUE7RUFDQSxnREFBQTtFQUNBLHVEQUFBO0VBQ0EsMkNBQUE7RUFDQSxrREFBQTtFQUNBLGlEQUFBO0VBQ0EsMkNBQUE7RUFDQSxtREFBQTtFQUNBLCtDQUFBO0VBQ0EsMkNBQUE7QUNBRiIsImZpbGUiOiJjb2xvcndheS1wdXJwbGUuY3NzIn0= */