/*Variables*/
:root {
  --ylb-color-red-dark: #a92b31;
  --ylb-color-rgb-red-dark: 169, 43, 49;
  --ylb-color-red: #ed1c24;
  --ylb-color-rgb-red: 237, 28, 36;
  --ylb-color-red-light: #f15922;
  --ylb-color-rgb-red-light: 241, 89, 34;
  --ylb-color-orange-dark: #dd5828;
  --ylb-color-rgb-orange-dark: 221, 88, 40;
  --ylb-color-orange: #f47920;
  --ylb-color-rgb-orange: 244, 121, 32;
  --ylb-color-orange-light: #fcaf17;
  --ylb-color-rgb-orange-light: 252, 175, 23;
  --ylb-color-green-dark: #006b6b;
  --ylb-color-rgb-green-dark: 0, 107, 107;
  --ylb-color-green: #01a490;
  --ylb-color-rgb-green: 1, 164, 144;
  --ylb-color-green-light: #20bdbe;
  --ylb-color-rgb-green-light: 32, 189, 190;
  --ylb-color-blue-dark: #0060af;
  --ylb-color-rgb-blue-dark: 0, 96, 175;
  --ylb-color-blue: #0089d0;
  --ylb-color-rgb-blue: 0, 137, 208;
  --ylb-color-blue-light: #00aeef;
  --ylb-color-rgb-blue-light: 0, 174, 239;
  --ylb-color-purple-dark: #5c2e91;
  --ylb-color-rgb-purple-dark: 92, 46, 145;
  --ylb-color-purple: #92278f;
  --ylb-color-rgb-purple: 146, 39, 143;
  --ylb-color-purple-light: #c6168d;
  --ylb-color-rgb-purple-light: 198, 22, 141;
  --ylb-color-white: #FFFFFF;
  --ylb-color-rgb-white: 255, 255, 255;
  --ylb-color-light-grey-1: #f2f2f2;
  --ylb-color-rgb-light-grey-1: 242, 242, 242;
  --ylb-color-light-grey-2: #e7e7e7;
  --ylb-color-rgb-light-grey-2: 231, 231, 231;
  --ylb-color-light-grey-3: #cccccc;
  --ylb-color-rgb-light-grey-3: 204, 204, 204;
  --ylb-color-grey-1: #636466;
  --ylb-color-rgb-grey-1: 99, 100, 102;
  --ylb-color-grey-2: #4F4F4F;
  --ylb-color-rgb-grey-2: 79, 79, 79;
  --ylb-color-grey-3: #3F4042;
  --ylb-color-rgb-grey-3: 63, 64, 66;
  --ylb-color-dark-grey-1: #2F2F2F;
  --ylb-color-rgb-dark-grey-1: 47, 47, 47;
  --ylb-color-dark-grey-2: #231F20;
  --ylb-color-rgb-dark-grey-2: 35, 31, 32;
  --ylb-color-black: #000000;
  --ylb-color-rgb-black: 0, 0, 0;
}

/*Background colors*/
.ylb-bg-black {
  background-color: var(--ylb-color-black, black) !important;
}

.ylb-bg-blue {
  background-color: var(--ylb-color-blue, blue) !important;
}

.ylb-bg-dark-blue {
  background-color: var(--ylb-color-blue-dark, blue) !important;
}

.ylb-bg-light-blue {
  background-color: var(--ylb-color-blue-light, blue) !important;
}

.ylb-bg-pink {
  background-color: var(--ylb-color-purple-light, purple) !important;
}

.ylb-bg-purple {
  background-color: var(--ylb-color-purple, purple) !important;
}

.ylb-bg-dark-magenta {
  background-color: var(--ylb-color-purple-dark, purple) !important;
}

.ylb-bg-dark-green {
  background-color: var(--ylb-color-green-dark, green) !important;
}

.ylb-bg-green {
  background-color: var(--ylb-color-green, green) !important;
}

.ylb-bg-light-green {
  background-color: var(--ylb-color-green-light, green) !important;
}

.ylb-bg-orange {
  background-color: var(--ylb-color-orange, orange) !important;
}

.ylb-bg-orange-dark {
  background-color: var(--ylb-color-orange-dark, orange) !important;
}

.ylb-bg-yellow {
  background-color: var(--ylb-color-orange-light, orange) !important;
}

.ylb-bg-red {
  background-color: var(--ylb-color-red, red) !important;
}

.ylb-bg-red-dark {
  background-color: var(--ylb-color-red-dark, red) !important;
}

.ylb-bg-red-light {
  background-color: var(--ylb-color-red-light, red) !important;
}

.ylb-bg-grey {
  background-color: var(--ylb-color-grey-2, gray) !important;
}

.ylb-bg-semi-light-grey {
  background-color: var(--ylb-color-grey-1, gray) !important;
}

.ylb-bg-white {
  background-color: var(--ylb-color-white, white) !important;
}

.ylb-bg-light-grey-1 {
  background-color: var(--ylb-color-light-grey-1, #f2f2f2) !important;
}

.ylb-bg-light-grey-2 {
  background-color: var(--ylb-color-light-grey-2, #e7e7e7) !important;
}

.ylb-bg-light-grey-3 {
  background-color: var(--ylb-color-light-grey-3, #cccccc) !important;
}

/*Text colors*/
.ylb-text-black {
  color: var(--ylb-color-black, black) !important;
}

.ylb-text-blue {
  color: var(--ylb-color-blue, blue) !important;
}

.ylb-text-dark-blue {
  color: var(--ylb-color-blue-dark) !important;
}

.ylb-text-dark-green {
  color: var(--ylb-color-green-dark) !important;
}

.ylb-text-dark-magenta {
  color: var(--ylb-color-purple-dark, purple) !important;
}

.ylb-text-green {
  color: var(--ylb-color-green, green) !important;
}

.ylb-text-grey {
  color: var(--ylb-color-grey-2, gray) !important;
}

.ylb-text-light-blue {
  color: var(--ylb-color-blue-light, blue) !important;
}

.ylb-text-light-green {
  color: var(--ylb-color-green-light, green) !important;
}

.ylb-text-orange {
  color: var(--ylb-color-orange, orange) !important;
}

.ylb-text-pink {
  color: var(--ylb-color-purple-light, purple) !important;
}

.ylb-text-purple {
  color: var(--ylb-color-purple, purple) !important;
}

.ylb-text-red {
  color: var(--ylb-color-red, red) !important;
}

.ylb-text-white {
  color: var(--ylb-color-white, white) !important;
}

.ylb-text-yellow {
  color: var(--ylb-color-orange-light, orange) !important;
}

.ylb-text-orange-dark {
  color: var(--ylb-color-orange-dark, orange) !important;
}

.ylb-text-red-dark {
  color: var(--ylb-color-red-dark, red) !important;
}

.ylb-text-red-light {
  color: var(--ylb-color-red-light, red) !important;
}

.ylb-text-light-grey {
  color: var(--ylb-color-grey-1, gray) !important;
}

/*Border colors*/
.ylb-border-y-grey {
  border-color: var(--ylb-color-grey-3, gray) !important;
}

.ylb-border-color-right-y-grey {
  border-right-color: var(--ylb-color-grey-3, gray) !important;
}

.ylb-border-color-left-y-grey {
  border-left-color: var(--ylb-color-grey-3, gray) !important;
}

.ylb-border-color-top-y-grey {
  border-top-color: var(--ylb-color-grey-3, gray) !important;
}

.ylb-border-color-bottom-y-grey {
  border-bottom-color: var(--ylb-color-grey-3, gray) !important;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvY29sb3JzLnNjc3MiLCJjb2xvcnMuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLFlBQUE7QUFDQTtFQUNFLDZCQUFBO0VBQ0EscUNBQUE7RUFDQSx3QkFBQTtFQUNBLGdDQUFBO0VBQ0EsOEJBQUE7RUFDQSxzQ0FBQTtFQUNBLGdDQUFBO0VBQ0Esd0NBQUE7RUFDQSwyQkFBQTtFQUNBLG9DQUFBO0VBQ0EsaUNBQUE7RUFDQSwwQ0FBQTtFQUNBLCtCQUFBO0VBQ0EsdUNBQUE7RUFDQSwwQkFBQTtFQUNBLGtDQUFBO0VBQ0EsZ0NBQUE7RUFDQSx5Q0FBQTtFQUNBLDhCQUFBO0VBQ0EscUNBQUE7RUFDQSx5QkFBQTtFQUNBLGlDQUFBO0VBQ0EsK0JBQUE7RUFDQSx1Q0FBQTtFQUNBLGdDQUFBO0VBQ0Esd0NBQUE7RUFDQSwyQkFBQTtFQUNBLG9DQUFBO0VBQ0EsaUNBQUE7RUFDQSwwQ0FBQTtFQUNBLDBCQUFBO0VBQ0Esb0NBQUE7RUFDQSxpQ0FBQTtFQUNBLDJDQUFBO0VBQ0EsaUNBQUE7RUFDQSwyQ0FBQTtFQUNBLGlDQUFBO0VBQ0EsMkNBQUE7RUFDQSwyQkFBQTtFQUNBLG9DQUFBO0VBQ0EsMkJBQUE7RUFDQSxrQ0FBQTtFQUNBLDJCQUFBO0VBQ0Esa0NBQUE7RUFDQSxnQ0FBQTtFQUNBLHVDQUFBO0VBQ0EsZ0NBQUE7RUFDQSx1Q0FBQTtFQUNBLDBCQUFBO0VBQ0EsOEJBQUE7QUNDRjs7QURFQSxvQkFBQTtBQUNBO0VBQ0UsMERBQUE7QUNDRjs7QURDQTtFQUNFLHdEQUFBO0FDRUY7O0FEQUE7RUFDRSw2REFBQTtBQ0dGOztBRERBO0VBQ0UsOERBQUE7QUNJRjs7QURGQTtFQUNFLGtFQUFBO0FDS0Y7O0FESEE7RUFDRSw0REFBQTtBQ01GOztBREpBO0VBQ0UsaUVBQUE7QUNPRjs7QURMQTtFQUNFLCtEQUFBO0FDUUY7O0FETkE7RUFDRSwwREFBQTtBQ1NGOztBRFBBO0VBQ0UsZ0VBQUE7QUNVRjs7QURSQTtFQUNFLDREQUFBO0FDV0Y7O0FEVEE7RUFDRSxpRUFBQTtBQ1lGOztBRFZBO0VBQ0Usa0VBQUE7QUNhRjs7QURYQTtFQUNFLHNEQUFBO0FDY0Y7O0FEWkE7RUFDRSwyREFBQTtBQ2VGOztBRGJBO0VBQ0UsNERBQUE7QUNnQkY7O0FEZEE7RUFDRSwwREFBQTtBQ2lCRjs7QURmQTtFQUNFLDBEQUFBO0FDa0JGOztBRGhCQTtFQUNFLDBEQUFBO0FDbUJGOztBRGpCQTtFQUNFLG1FQUFBO0FDb0JGOztBRGxCQTtFQUNFLG1FQUFBO0FDcUJGOztBRG5CQTtFQUNFLG1FQUFBO0FDc0JGOztBRGxCQSxjQUFBO0FBQ0E7RUFDRSwrQ0FBQTtBQ3FCRjs7QURuQkE7RUFDRSw2Q0FBQTtBQ3NCRjs7QURwQkE7RUFDRSw0Q0FBQTtBQ3VCRjs7QURyQkE7RUFDRSw2Q0FBQTtBQ3dCRjs7QUR0QkE7RUFDRSxzREFBQTtBQ3lCRjs7QUR2QkE7RUFDRSwrQ0FBQTtBQzBCRjs7QUR4QkE7RUFDRSwrQ0FBQTtBQzJCRjs7QUR6QkE7RUFDRSxtREFBQTtBQzRCRjs7QUQxQkE7RUFDRSxxREFBQTtBQzZCRjs7QUQzQkE7RUFDRSxpREFBQTtBQzhCRjs7QUQ1QkE7RUFDRSx1REFBQTtBQytCRjs7QUQ3QkE7RUFDRSxpREFBQTtBQ2dDRjs7QUQ5QkE7RUFDRSwyQ0FBQTtBQ2lDRjs7QUQvQkE7RUFDRSwrQ0FBQTtBQ2tDRjs7QURoQ0E7RUFDRSx1REFBQTtBQ21DRjs7QURqQ0E7RUFDRSxzREFBQTtBQ29DRjs7QURsQ0E7RUFDRSxnREFBQTtBQ3FDRjs7QURuQ0E7RUFDRSxpREFBQTtBQ3NDRjs7QURwQ0E7RUFDRSwrQ0FBQTtBQ3VDRjs7QURwQ0EsZ0JBQUE7QUFDQTtFQUNFLHNEQUFBO0FDdUNGOztBRHBDQTtFQUNFLDREQUFBO0FDdUNGOztBRHBDQTtFQUNFLDJEQUFBO0FDdUNGOztBRHBDQTtFQUNFLDBEQUFBO0FDdUNGOztBRHBDQTtFQUNFLDZEQUFBO0FDdUNGIiwiZmlsZSI6ImNvbG9ycy5jc3MifQ== */