.footer.ws-footer {
  background-color: var(--wsPrimaryColor, lightgrey);
  display: block;
  color: var(--ylb-color-white, white);
}
.footer.ws-footer h2 {
  color: inherit;
  font-size: 16px;
  font-family: var(--ylb-font-family-verdana);
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 20px;
}
.footer.ws-footer a {
  color: var(--ylb-color-white, white);
}
.footer.ws-footer a:hover, .footer.ws-footer a:active, .footer.ws-footer a:focus {
  color: var(--ylb-color-white, white);
  text-decoration: underline;
}
.footer--top {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .footer--top {
    padding: 80px 0;
  }
}
.footer--top-left-column {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .footer--top-left-column {
    margin-bottom: 0;
  }
}
.footer--top-left-column img {
  max-width: 200px;
}
.footer--top-left-column .ws-logo:hover {
  opacity: 50%;
}
.footer--top-middle-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer--top-middle-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .footer--top-middle-column {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer--top-middle-column nav {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer--top-middle-column nav {
    margin-bottom: 0;
  }
}
.footer--top-middle-column nav ul {
  padding: 0;
}
.footer--top-middle-column nav ul li {
  list-style: none;
  font-size: 16px;
  font-family: var(--ylb-font-family-verdana);
  line-height: 20px;
  margin-bottom: 20px;
}
.footer--top-right-column ul {
  display: flex;
  justify-content: flex-start;
}
.footer--top-right-column ul li {
  margin-left: 24px;
}
.footer--top-right-column ul li:first-child {
  margin-left: 0;
}
.footer--top-right-column ul li:not(:last-child) {
  margin-right: 0;
}
.footer--top-right-column ul li a {
  color: var(--ylb-color-white, white);
}
.footer--top-right-column ul li a:hover, .footer--top-right-column ul li a:active, .footer--top-right-column ul li a:focus {
  color: var(--ylb-color-white, white);
  opacity: 50%;
}
.footer--top-right-column ul li a i {
  font-size: 28px;
}
.footer--bottom {
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.footer--bottom-left-column {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer--bottom-left-column {
    margin-bottom: 0;
  }
}
.footer--bottom-left-column .field-block-content p {
  font-size: 14px;
  font-family: var(--ylb-font-family-verdana);
}
.footer--bottom-right-column ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
.footer--bottom-right-column ul li {
  list-style: none;
}
.footer--bottom-right-column ul li::before {
  content: "|";
  display: inline-block;
}
.footer--bottom-right-column ul li:first-child::before {
  content: "";
  display: none;
}
.footer--bottom-right-column ul li:first-child a {
  padding-left: 0;
}
.footer--bottom-right-column ul li a {
  font-size: 14px;
  color: var(--ylb-color-white, white);
  font-family: var(--ylb-font-family-verdana);
  padding: 0 5px;
}
.footer--bottom-right-column ul li a:hover, .footer--bottom-right-column ul li a:active, .footer--bottom-right-column ul li a:focus {
  color: var(--ylb-color-white, white);
}
.footer .layout-builder-block {
  background-color: transparent;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvZm9vdGVyLnNjc3MiLCJmb290ZXIuY3NzIiwiLi4vLi4vbm9kZV9tb2R1bGVzL2Jvb3RzdHJhcC9zY3NzL21peGlucy9fYnJlYWtwb2ludHMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLRTtFQUNFLGtEQUFBO0VBQ0EsY0FBQTtFQUNBLG9DQUFBO0FDSko7QURNSTtFQUNFLGNBQUE7RUFDQSxlQUFBO0VBQ0EsMkNBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7QUNKTjtBRE9JO0VBQ0Usb0NBQUE7QUNMTjtBRE9NO0VBR0Usb0NBQUE7RUFDQSwwQkFBQTtBQ1BSO0FEYUU7RUFDRSxrQkFBQTtBQ1hKO0FDc0NJO0VGNUJGO0lBSUksZUFBQTtFQ1ZKO0FBQ0Y7QURZSTtFQUNFLG1CQUFBO0FDVk47QUM4Qkk7RUZyQkE7SUFJSSxnQkFBQTtFQ1ROO0FBQ0Y7QURXTTtFQUNFLGdCQUFBO0FDVFI7QURZTTtFQUNFLFlBQUE7QUNWUjtBRGNJO0VBQ0UsYUFBQTtFQUNBLGVBQUE7RUFDQSxzQkFBQTtBQ1pOO0FDY0k7RUZMQTtJQU1JLGFBQUE7SUFDQSxxQ0FBQTtJQUNBLFNBQUE7RUNYTjtBQUNGO0FDT0k7RUZMQTtJQVlJLHFDQUFBO0VDVk47QUFDRjtBRFlNO0VBQ0UsbUJBQUE7QUNWUjtBQ0RJO0VGVUU7SUFJSSxnQkFBQTtFQ1RSO0FBQ0Y7QURXUTtFQUNFLFVBQUE7QUNUVjtBRFdVO0VBQ0UsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsMkNBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0FDVFo7QURnQk07RUFDRSxhQUFBO0VBQ0EsMkJBQUE7QUNkUjtBRGdCUTtFQUNFLGlCQUFBO0FDZFY7QURnQlU7RUFDRSxjQUFBO0FDZFo7QURrQlU7RUFDRSxlQUFBO0FDaEJaO0FEbUJVO0VBQ0Usb0NBQUE7QUNqQlo7QURtQlk7RUFHRSxvQ0FBQTtFQUNBLFlBQUE7QUNuQmQ7QURzQlk7RUFDRSxlQUFBO0FDcEJkO0FENEJFO0VBQ0Usa0JBQUE7RUFDQSxvQ0FBQTtBQzFCSjtBRDRCSTtFQUNFLG1CQUFBO0FDMUJOO0FDOUNJO0VGdUVBO0lBSUksZ0JBQUE7RUN6Qk47QUFDRjtBRDJCTTtFQUNFLGVBQUE7RUFDQSwyQ0FBQTtBQ3pCUjtBRCtCTTtFQUNFLGFBQUE7RUFDQSwyQkFBQTtFQUNBLGVBQUE7RUFDQSxVQUFBO0FDN0JSO0FEK0JRO0VBQ0UsZ0JBQUE7QUM3QlY7QUQrQlU7RUFDRSxZQUFBO0VBQ0EscUJBQUE7QUM3Qlo7QURpQ1k7RUFDRSxXQUFBO0VBQ0EsYUFBQTtBQy9CZDtBRGtDWTtFQUNFLGVBQUE7QUNoQ2Q7QURvQ1U7RUFDRSxlQUFBO0VBQ0Esb0NBQUE7RUFDQSwyQ0FBQTtFQUNBLGNBQUE7QUNsQ1o7QURvQ1k7RUFHRSxvQ0FBQTtBQ3BDZDtBRDRDRTtFQUNFLDZCQUFBO0FDMUNKIiwiZmlsZSI6ImZvb3Rlci5jc3MifQ== */