:root {
  --ylb-font-family-cachet: Cachet, Verdana, Geneva, sans-serif;
  --ylb-font-family-verdana: Verdana, Geneva, sans-serif;
  --ylb-font-family: "Cachet", Verdana, Geneva, sans-serif;
  --ylb-font-family-medium: "Cachet Medium", Cachet, Verdana, sans-serif;
  --ylb-font-family-book: "Cachet Book", "Cachet W01 Book", Cachet, Verdana, sans-serif;
}

.page-with-lb main {
  margin-top: 0 !important;
}
.page-with-lb main .field-media-image .media {
  width: auto;
}
.page-with-lb main .field-media-image .media img {
  width: auto;
}
.page-with-lb main .block--spacing {
  margin: 40px 0;
}
@media (min-width: 768px) {
  .page-with-lb main .block--spacing {
    margin: 96px 0;
  }
}
.page-with-lb .select-wrapper:before {
  display: none;
}
.page-with-lb .select-wrapper select {
  background: var(--ylb-color-white) url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjNWM2MDZiIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzVjNjA2YiIgZD0iTTUwLjExMSw3Mi42NTljLTEuMDYxLDAtMi4wNzgtMC40MjItMi44MjktMS4xNzJMMTcuMjc1LDQxLjQ3NGMtMS41NjItMS41NjItMS41NjItNC4wOTUsMC4wMDEtNS42NTcgIGMxLjU2My0xLjU2Miw0LjA5Ni0xLjU2Miw1LjY1NywwbDI3LjE3OCwyNy4xODVsMjcuMTc4LTI3LjE4NWMxLjU2Mi0xLjU2Miw0LjA5NS0xLjU2Miw1LjY1NywwICBjMS41NjIsMS41NjIsMS41NjIsNC4wOTQsMC4wMDEsNS42NTdMNTIuOTQsNzEuNDg3QzUyLjE4OSw3Mi4yMzcsNTEuMTcyLDcyLjY1OSw1MC4xMTEsNzIuNjU5eiI+PC9wYXRoPjwvc3ZnPg==) no-repeat right 10px center;
  background-size: 25px;
}
.page-with-lb h1, .page-with-lb h2, .page-with-lb h3, .page-with-lb h4, .page-with-lb h5, .page-with-lb h6 {
  color: var(--wsPrimaryColor, black);
}

@media (max-width: 991.98px) {
  .node--lb {
    margin-top: 40px;
  }
}
.node--lb a:hover {
  text-decoration: underline;
}
.node--lb .page-title {
  margin: 50px 0 40px;
}
@media (max-width: 991.98px) {
  .node--lb .page-title {
    margin: 30px 0;
  }
}
.node--lb .page-title > h1 {
  font-size: 65px;
  line-height: 75px;
  margin-bottom: 10px;
  font-family: var(--ylb-font-family-cachet);
}
@media (max-width: 991.98px) {
  .node--lb .page-title > h1 {
    font-size: 45px;
    line-height: 52px;
  }
}
.node--lb .page-title .subtitle {
  font-size: 24px;
  line-height: 36px;
  font-family: var(--ylb-font-family-cachet);
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .node--lb .page-title .subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}

.page-node-type-landing-page-lb .layout-container.node-preview {
  margin-top: 150px;
}
.page-node-type-landing-page-lb .node-preview-container {
  background-color: var(--ylb-color-white, white);
  z-index: 100;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvcGFnZS5zY3NzIiwicGFnZS5jc3MiLCIuLi8uLi9ub2RlX21vZHVsZXMvYm9vdHN0cmFwL3Njc3MvbWl4aW5zL19icmVha3BvaW50cy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUtBO0VBQ0UsNkRBQUE7RUFDQSxzREFBQTtFQUNBLHdEQUFBO0VBQ0Esc0VBQUE7RUFDQSxxRkFBQTtBQ0pGOztBRFFFO0VBQ0Usd0JBQUE7QUNMSjtBRFFNO0VBQ0UsV0FBQTtBQ05SO0FET1E7RUFDRSxXQUFBO0FDTFY7QURTSTtFQUNFLGNBQUE7QUNQTjtBQ3lDSTtFRm5DQTtJQUlJLGNBQUE7RUNOTjtBQUNGO0FEVUk7RUFDRSxhQUFBO0FDUk47QURVSTtFQUNFLDgwQkFBQTtFQUNBLHFCQUFBO0FDUk47QURXRTtFQUNFLG1DQUFBO0FDVEo7O0FDdUNJO0VGMUJKO0lBR0ksZ0JBQUE7RUNYRjtBQUNGO0FEYUU7RUFDRSwwQkFBQTtBQ1hKO0FEY0U7RUFDRSxtQkFBQTtBQ1pKO0FDMkJJO0VGaEJGO0lBSUksY0FBQTtFQ1hKO0FBQ0Y7QURhSTtFQUNFLGVBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0VBQ0EsMENBQUE7QUNYTjtBQ2dCSTtFRlRBO0lBT0ksZUFBQTtJQUNBLGlCQUFBO0VDVk47QUFDRjtBRGFJO0VBQ0UsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsMENBQUE7RUFDQSxnQkFBQTtBQ1hOO0FDSUk7RUZHQTtJQU9JLGVBQUE7SUFDQSxpQkFBQTtFQ1ZOO0FBQ0Y7O0FEZ0JFO0VBQ0UsaUJBQUE7QUNiSjtBRGdCRTtFQUNFLCtDQUFBO0VBQ0EsWUFBQTtBQ2RKIiwiZmlsZSI6InBhZ2UuY3NzIn0= */