.header .block-ws-site-logo {
  align-items: center;
  display: flex;
  padding-left: 10px;
  height: 95px;
  visibility: hidden;
}
@media (max-width: 991.98px) {
  .header .block-ws-site-logo svg {
    max-height: 35px;
    position: relative;
    left: -45px;
  }
  .header .block-ws-site-logo svg #logo-areas-of-impact {
    display: none;
  }
}
.header .block-ws-site-logo img {
  max-width: 200px;
}
.block-ws-site-logo.hide-tagline svg #logo-areas-of-impact {
  display: none;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3Mvd3Mtc2l0ZS1sb2dvLnNjc3MiLCJ3cy1zaXRlLWxvZ28uY3NzIiwiLi4vLi4vbm9kZV9tb2R1bGVzL2Jvb3RzdHJhcC9zY3NzL21peGlucy9fYnJlYWtwb2ludHMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLRTtFQUNFLG1CQUFBO0VBQ0EsYUFBQTtFQUNBLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0FDSko7QUNtRUk7RUY1REU7SUFDRSxnQkFBQTtJQUNBLGtCQUFBO0lBQ0EsV0FBQTtFQ0pOO0VETU07SUFDRSxhQUFBO0VDSlI7QUFDRjtBRFFJO0VBQ0UsZ0JBQUE7QUNOTjtBRFlNO0VBQ0UsYUFBQTtBQ1ZSIiwiZmlsZSI6IndzLXNpdGUtbG9nby5jc3MifQ== */