@import "_functions";
@import "_mixins";
@import "_variables";

.ws-main-menu-wrapper {

  .ws-menu-cta-block {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 20px;
    white-space: normal;

    @include media-breakpoint-down(xl) {
      display: none;
    }

    .field-media-image {
      margin-bottom: 25px;
    }

    .field-description,
    .field-title {
      color: var(--ylb-color-black);
      font-family: var(--ylb-font-family-verdana);
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 20px;
    }

    .field-description {
      font-weight: 400;
    }

    .btn {
      background-color: var(--wsPrimaryColor) !important;
      border-radius: 10px;
      color: var(--ylb-color-white);
      font-family: var(--ylb-font-family-cachet);
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      margin: 10px 0;
      padding: 6px;
      text-transform: unset;

      &:hover {
        background-color: var(--wsPrimaryColor) !important;
        color: var(--ylb-color-white);
      }
    }
  }
}
