{#
/**
 * @file
 * WS Social links block implementation to display a block.
 *
 * Available variables:
 * - facebook: An URL to Facebook page
 * - twitter: An URL to X/Ttwitter page
 * - youtube: An URL to Youtube channel
 * - instagram: An URL to Instagram profile
 * - linkedin: An URL to LinkedIn profile
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set social_links = {
  'facebook': { 'url': facebook, 'icon': 'facebook', 'title': 'Facebook' },
  'twitter': { 'url': twitter, 'icon': 'twitter', 'title': 'Twitter' },
  'youtube': { 'url': youtube, 'icon': 'youtube', 'title': 'YouTube channel' },
  'instagram': { 'url': instagram, 'icon': 'instagram', 'title': 'Instagram profile' },
  'linkedin': { 'url': linkedin, 'icon': 'linkedin', 'title': 'LinkedIn page' }
} %}

<ul class="list-inline">
  {% for network, data in social_links|filter(data => data.url is not empty) %}
    <li>
      <a title="Go to YMCA {{ data.title }}" href="{{ data.url }}" target="_blank">
        <i class="fab fa-{{ data.icon }}"></i>
      </a>
    </li>
  {% endfor %}
</ul>
